* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 1100px;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
  color: black;
  background: white;
}

/* header */
.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
  font-size: 18px;
}

/* меню */
.menu_list {
  display: flex;
  gap: 32px;
  list-style: none;
}

.header_menu-list-item {
  list-style: circle;
}

.header_link {
  color: black;
  text-decoration: underline;
}

.header_link_active {
  text-decoration: none;
  list-style: none;
  color: black;
}

/* logo */
.logo {
  justify-self: center;
}

.header_logo {
  width: 148px;
  height: 105px;
}

/* адрес */
.header_address {
  justify-self: flex-end;
  padding-right: 50px;
  font-style: normal;
  line-height: 24px;
  display: flex;
  flex-direction: column;
}

.header_address a {
  color: black;
  text-decoration: underline;
}

/* cover */
.cover {
  position: relative;
  background: url("img/lotus-flower.png") center/cover no-repeat;
  min-height: 757px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 165px 50px 51px;
}

/* overlay */
.cover-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

/* текст */
.cover-text {
  position: relative;
  z-index: 1;
  font: 700 100px/115px "Raleway", sans-serif;
  color: #fff;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 20px;
  letter-spacing: 0.3em;
}

.cover-text span {
  display: block;
  width: 100%;
}

.aligned-text_left   { text-align: left; }
.aligned-text_center { text-align: center; }
.aligned-text_right  {
  text-align: right;
display: inline-block;
padding-right: 50px; // не позиционируется, не знаю как решить
}

/* описание */
.description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description-text {
  font-size: 22px;
  text-transform: uppercase;
  word-spacing: 17px;
  color: #fff;
}

/* кнопка */
.cover-button {
  padding: 12px 32px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
}

/* lots */
.lots {
  margin: 179px 24px 0;
}

.lots-header {
  font: 700 40px "Raleway", sans-serif;
  text-transform: uppercase;
  margin: 0 0 27px 40px;
}

.lots-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  list-style: none;
}

.lot-item {
  position: relative;
  min-height: 596px;
  background-size: cover;
  background-position: center;
}
/* overlay */
.lot-item-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.lot-item a {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 50px 40px;
  text-decoration: none;
  color: #fff;
}

.lot-header {
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-decoration: underline;
}

.article-description {
  font-size: 20px;
  line-height: 24px;
  margin-top: auto; /* прижимает текст к низу */
}

.film    { background-image: url("img/photo.png"); }
.book    { background-image: url("img/book.jpg"); }
.picture { background-image: url("img/abstract.png"); }

.lots-link {
  display: block;
  margin: 30px 0 0 40px;
  font-size: 20px;
  color: #000;
  text-decoration: underline;
}

/* about */
.about {
  margin: 146px 24px 0;
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  margin-bottom: 180px;
}

.about_logo {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: center;
}

.about_logo-image {
  width: 148px;
  height: auto;
}

.about_title {
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 110px 0 100px;
}

.about div > div {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about_column {
  font-size: 20px;
  line-height: 24px;
}

/* footer */
.footer {
  margin: 0px 50px 0 50px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  min-height: 180px;
}
/* адрес */
.footer-address {
  font-size: 18px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  font-style: normal;
}

.footer-address_link {
  color: black;
  text-decoration: underline;
  line-height: 24.3px;

}

/* меню */
.footer_menu {
  text-align: center;
}

.footer_menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.footer_menu-link,
.footer_menu-link_active {
  font-size: 18px;
  line-height: 21px;
  color: black;
  text-decoration: underline;
}

.footer_menu-link_active {
  text-decoration: none;
}

/* соцсети */
.footer .social {
  justify-self: end;
  display: flex;
  gap: 48px;
}
.footer_social-list {
  display: flex;
  justify-content: flex-end;
  gap: 48px;
  
}

.footer_social-icon {
  width: 48px;
  height: 48px;
}